.h-full {
  height: 100%;
  position: static;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

/* horizontal bar */
.h-bar {
  height: 5rem;
}
/* flexible */
.h-f-bar {
  min-height: 5rem;
  max-height: 8rem;
}
/* vertical bar */
.v-bar {
  width: 5rem;
}

/* icon size */
/* default is 1 rem that is small-icon*/
.mid-icon {
  width: 20px;
  height: 20px;
}

.large-icon {
  width: 24px;
  height: 24px;
}

.sticky-sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}
