.h-full {
  height: 100%;
  position: static;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

/* horizontal bar */
.h-bar {
  height: 5rem;
}
/* flexible */
.h-f-bar {
  min-height: 5rem;
  max-height: 8rem;
}
/* vertical bar */
.v-bar {
  width: 5rem;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}
